<% site_key = ENV["CLOUDFLARE_TURNSTILE_SITE_KEY"] %>
<% if bot_protection_enabled? && site_key.present? %>
  <% content_for :turnstile_script, "1" %>
  <div class="cf-turnstile" data-sitekey="<%= site_key %>" data-controller="turnstile"></div>
<% end %>
